@import '../../styles/utils.scss';

/*=============================================
=            variables                       =
=============================================*/

$cols: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

/*=============================================
=            Block                           =
=============================================*/

.c-row {
  display: grid;
  height: auto;
  grid-auto-flow: row;
  grid-auto-rows: minmax(20px, auto);
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--spacing-3);

  & + .c-row {
    margin-top: var(--spacing-2); 
  }
}

.c-col {
  height: 100%;
  min-width: 0;
  grid-row-end: span 1;
}

/*=============================================
=            Modifiers                       =
=============================================*/

/**
 *
 * 1. cols
 *
 */

/*----------  1. cols  ----------*/

@each $col in $cols {
  .c-col-#{$col} {
    grid-column-end: span #{$col};
  }
}


@each $size, $breakpoint in $breakpoints {
  @media screen and (max-width: $breakpoint) {
    @each $col in $cols {
      .c-col-#{$col}--#{$size} {
        grid-column-end: span #{$col};
      }
    }
  }
}