:root {
  --color-default-400: #0855cccc;
  --color-default-500: #0855cce8;
  --color-default-600: #0855cc;

  --color-success-400: #068a23cc;
  --color-success-500: #068a22e8;
  --color-success-600: #068a22;

  --color-danger-400: #d42b0ecc;
  --color-danger-500: #d42b0ee8;
  --color-danger-600: #d42b0e;

  --color-info-400: #6D7478cc;
  --color-info-500: #6D7478e8;
  --color-info-600: #6D7478;

  --color-warning-400: #A16C00cc;
  --color-warning-500: #A16C00e8;
  --color-warning-600: #A16C00;
  
  --color-gray-400: #dadada;
  --color-gray-500: #b3b3b3;
  --color-gray-600: #c0c0c0;

  --color-white: white;

  --input-size-sm: 30px;
  --input-size-md: 40px;
  --input-size-lg: 50px;

  --radius: 3px;
  --border: 1px solid;

  --spacing-0: 0;
  --spacing-1: .25rem;
  --spacing-2: .5rem;
  --spacing-3: 1rem;
  --spacing-4: 2rem;
  --spacing-5: 4rem;
  --spacing-6: 8rem;

  --font-size-1: 3rem;
  --font-size-2: 2.25rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1rem;
  --font-size-6: .875rem;

  --border: 1px solid;
  --radius: 3px;
}