:root {
  --color-default: blue;
  --color-success: green;
  --color-danger: red;
  --color-info: gray;
  --color-warning: yellow;

  --color-gray-400: #dadada;
  --color-gray-500: #b3b3b3;
  --color-gray-600: #c0c0c0;
  --color-white: white;

  --input-size-sm: 30px;
  --input-size-md: 40px;
  --input-size-lg: 50px;

  --radius: 3px;
  --border: 1px solid;

  --spacing-0: 0;
  --spacing-1: .25rem;
  --spacing-2: .5rem;
  --spacing-3: 1rem;
  --spacing-4: 2rem;
  --spacing-5: 4rem;
  --spacing-6: 8rem;

  --font-size-1: 3rem;
  --font-size-2: 2.25rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1rem;
  --font-size-6: .875rem;

  --border: 1px solid;
  --radius: 3px;
}